<!DOCTYPE html>
<html>
	<head>
		<link href="./css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="margin20 textCenter fs20">The Weather Finder</div>
		<div class="wrap">
			<label class="db padB10 fb" for="city">Select a City: </label>
			<input type="text" placeholder="City Name" id="city" />
			<div class="posRel">
				<div id="suggestions" class="suggestions">
					<div class="suggestionItem">No Info available!</div>
				</div>
			</div>
			<div id="selectedCityInfo">
				<div>
					<span class="w50in fb">City:</span>
					<span class="w50in txtLeft" id="selectedCity"></span>
				</div>
				<div>
					<span class="w50in fb">Weather:</span>
					<span class="w50in txtLeft" id="selctedWeather"></span>
				</div>
				<div>
					<span class="w50in fb">Status:</span>
					<span class="w50in txtLeft" id="selectedStatus"></span>
				</div>
			</div>
			<div class="btnWrap">
				<button type="button" id="resetBtn">Reset</button>
			</div>
		</div>
	</body>
	<script src="./js/script.js" type="text/javascript"></script>
</html>
